body{
	background-color: #F5F5F5;
}

#outerlayer{
    margin-top:4%;
    margin-bottom:4%;
    margin-left:7.5%;
    margin-right:7.5%;

    border-radius: 1%;

    width: 85%;
    height: 80vh;

    background-color:#FFFFFF;
}

#firstRow{
    padding-top: 7.5%;
    padding-bottom: 7.5%;
    border-bottom-color: #ededed;
    border-bottom-style: solid;
    border-width: 1px;

    height:70%;
}

#pictureContainer{
    border:0em;
    width: 50%;
    padding-left:1%;
    padding-right:1%;
}

#pictureDivOuterLayer{
    height:260px;
    width: 260px;

    border-radius: 50%;

    display: inline-block;
    background-color: #ededed;
    margin-top:-1.5%;

    position: absolute; 
    z-index: 1;
    left:195px;
    top:5px;
}

#pictureDiv{
    height:250px;
    width:250px;
    border-radius: 50%;
    display: inline-block;
    background-image: url("../assets/profile_pic.png");
    background-size: 250px 250px;
    background-repeat: no-repeat;

    position:absolute;
    z-index: 2;
    left:200px;
    top:0;
}

#aboutMeDiv{
    border:0em;
    width: 48%;
    padding:0;
    margin:0;

    background-color: #ededed;

    border-radius: 2%;

}

#secondRow{
    margin-top:2.5%;
    display: inline;
    height:10%;
}

#profileDiv{
    border-right-color: #ededed;
    border-right-style: solid;
    border-width: 1px;

    padding-top: 5%;
    background: center;
    background-image:url("../assets/profile_icon.png");
    background-size: 50%;
    background-repeat: no-repeat;
}

#portfolioDiv{
    border-right-color: #ededed;
    border-right-style: solid;
    border-width: 1px;

    padding-top: 5%;
    background: center;
    background-image:url("../assets/portfolio_icon.png");
    background-size: 50%;
    background-repeat: no-repeat;
}

#resumeDiv{
    border-right-color: #ededed;
    border-right-style: solid;
    border-width: 1px;

    padding-top: 5%;
    background: center;
    background-image:url("../assets/resume_icon.png");
    background-size: 50%;
    background-repeat: no-repeat;
}

#contactDiv{
    padding-top: 5%;
    background: center;
    background-image:url("../assets/contact_icon.png");
    background-size: 50%;
    background-repeat: no-repeat;
}

#profileTextInVector{
    margin-left:-3px;
}

#portfolioTextInVector{
    margin-left:-15px;
}

#resumeTextInVector{
    
    margin-left:-12px;
}

#contactTextInVector{
    font-family: sans-serif;
    margin-left:-13px;
}

#secondRow .moreInfo .vectorText .actualText{
    opacity: 0.8;
    font-family: sans-serif;
    font-style: bold;
    color:#303030;
    font-size: 25px;
    margin:0;
    padding:0;
}

.moreInfo{
    padding-top:5%;
    padding-bottom:5%;
    padding-left:10%;
    padding-right:10%;
}

.moreInfo:hover{
    opacity: 0.75;
}

.vectorText{
    visibility: hidden;
    float:left;
    margin-top:0;
    padding-top:0;
    background-color: #FFFFFF;
    text-decoration: underline;
}

#profileUnderline{
    text-decoration: underline;
}

#socialMedia li{
    display: inline;
    float:left;
}

#linkedInDiv{
    width:50%;
    float:left;
}

#githubDiv{
    width:50%;
    float:right;
}

#linkedinIcon{
    padding: 20px 20px 20px 20px;
    font-size: 50px;
    color: #00b6f9;
    border-color: #068cd6;
}
        
#githubIcon{
    padding: 20px 20px 20px 20px;
    font-size: 50px;
    color: #00b6f9;
    border-color: #068cd6;
}

#social{
    padding-left: 150px;
}        