body{
	background-color: #F5F5F5;
}

#outerlayer{
    margin-top:5%;
    margin-bottom:5%;
    margin-left:7.5%;
    margin-right:7.5%;

    width: 85%;
    height: 80vh;

    background-color:#FFFFFF;
}

#firstRow{
    padding-top: 7.5%;
    padding-bottom: 7.5%;
    border-bottom-color: #ededed;
    border-bottom-style: solid;
    border-width: 1px;
}

#pictureContainer{
    border:0em;
    width: 50%;
    padding-left:1%;
    padding-right:1%;
}

#aboutMeDiv{
    border:0em;
    width: 50%;
    margin-right: -5%
}

#secondRow{
    padding-top: 7.5%;
    padding-bottom: 7.5%;
}

.moreInfo{
    padding-top:5%;
    padding-bottom:5%;
    padding-left:10%;
    padding-right:10%;
}

#socialMedia li{
    display: inline;
    float:left;
}

#linkedInDiv{
    width:50%;
    float:left;
}

#githubDiv{
    width:50%;
    float:right;
}

#linkedinIcon{
    padding: 20px 20px 20px 20px;
    font-size: 50px;
    color: #00b6f9;
    border-color: #068cd6;
}
        
#githubIcon{
    padding: 20px 20px 20px 20px;
    font-size: 50px;
    color: #00b6f9;
    border-color: #068cd6;
}

#social{
    padding-left: 150px;
}        